{% extends 'base.html' %}



{% block content %}
{% load static %}


{% comment %} Image slider here {% endcomment %}
    <section id="main-slider" class="no-margin">
        <div class="carousel slide">
            <ol class="carousel-indicators">
                <li data-target="#main-slider" data-slide-to="0" class="active"></li>
                <li data-target="#main-slider" data-slide-to="1"></li>
            </ol>
            <div class="carousel-inner">

                <div class="item active" style="background-image: url({% static 'assets/images/slider/bg1.png' %})">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-7">
                                <div class="carousel-content">
                                    <h1 class="animation animated-item-1">To write is human, to get mail, Divine!</h1>
                                    <div class="animation animated-item-2">
                                        some letters one really writes to oneself; some letters just describe what it is we hope will be returned.
                                    </div>
                                    <a class="btn-slide animation animated-item-3" href="{% url 'mail_list' %}">Learn More</a>
                                    <a class="btn-slide white animation animated-item-3" href="{% url 'add' %}">Get Started</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!--/.item-->
            </div>
            <!--/.carousel-inner-->
        </div>
        <!--/.carousel-->
    </section>
    <!--/#main-slider-->

{% endblock %}
