{% extends 'base.html' %}


{% block content %}
{% load static %}



<div class="container">
  <h2>Hello {{m.get_full_name|title}},</h2>
  {{form.as_p}}
  <p>A list of all your loan request and their status.</p> 

  <table class="table table-bordered">
    <thead>
        <tr class="table-active">
            <td colspan="3" class="text-center"><strong>List of all data</strong></td>
        </tr>
        <tr>
            <th>No.</th>
            <th>Name</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
    {% for list in mail_list %}
        <tr>
            <td>{{my_loan.bank_name|title}}</td>
            <td>{{list.name|title}}</td>
            <td>{{list.email|capfirst}}</td>
        </tr>
        {% empty %}
            <tr class="table-active">
                <td colspan="5" class="text-center"><strong>No recent entries.</strong></td>
            </tr>
    {% endfor %}
      
     
    </tbody>
  </table>
</div>

{% endblock %}