{% extends 'base.html' %}


{% block content %}
{% load static %}



<div class="container">
  <h2>Howdy</h2>
  <p>Welcome, a list of all our mail data.</p> 

  <table class="table table-bordered">
    <thead>
        <tr class="table-active">
            <td colspan="3" class="text-center"><strong>List of all Name(s) and Email(s)</strong></td>
        </tr>
        <tr>
            <th>Name</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
    {% for list in mail_list %}
        <tr>
            <td>{{list.name|title}}</td>
            <td>{{list.email|capfirst}}</td>
        </tr>
        {% empty %}
            <tr class="table-active">
                <td colspan="5" class="text-center"><strong>No recent entries.</strong></td>
            </tr>
    {% endfor %}
      
     
    </tbody>
  </table>


    {% if is_paginated %}
        <div class="row"><!--/.row-->
            <div class="col-md-12 text-center">
                <ul class="pagination pagination-lg">
                    {% if page_obj.has_previous %}  
                        <li><a href="?{{ page_request_var }}={{page_obj.previous_page_number}}"> {{ page_obj.previous_page_number}}</a></li>
                    {% endif %}
                        <li class="active"><a href="?{{ page_request_var }}={{ page_obj.number }}" >{{ page_obj.number }}</a></li>
                    {% if page_obj.has_next %}
                        <li><a href="?{{ page_request_var }}={{page_obj.next_page_number}}"> {{ page_obj.next_page_number}}</a></li>
                    {% endif %}
                </ul><!--/.pagination-->
            </div>
        </div>
    {% endif %}


</div>

{% endblock %}